.itemCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
    color: black;
    min-width: 300px;
}

.ContadorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Contador {
    min-width: 80px;
}

.price {
    font-size: 20px !important;
}

.header {
    color: black;
}

a:hover .header {
    color: grey;
}