.itemCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
    color: black;
    min-width: 300px;
}

.price {
    font-size: 20px !important;
}

.header {
    color: black;
}

a:hover .header {
    color: grey;
}

.img-card {
    height: auto;
    width: auto;
    max-width: 300px;
    max-width: 300px;
}

.header-card {
    height: 60px;
    font-size: 16px;
    margin-top: 20px;
}

.price {
    height: 40px;
}