.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0B0C0D;
    width: 100%;
    height: 140px;
    border-radius: 6px;
    margin-bottom: 40px;
}

.header-img {
    width: 20px;
}

.title {
    font-size: 36px;
}

#title1 {
    color: gray;
}

#title2,
a:hover {
    color: yellow;
}

.nav_bar {
    display: flex;
    flex-direction: row;
}

.DropDown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 98px;
}

.nav_bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav_bar ul li {
    margin-right: 50px;
}

.nav_bar ul li:hover .DropDown {
    display: block;
}

.nav_bar ul li .DropDown {
    display: none;
    /*display: flex;
    flex-direction: column;*/
}

.nav_bar ul li .DropDown a {
    display: flex;
    padding: 4px;
}

.nav_bar ul li a {
    color: gray !important;
    font-size: 20px;
}

.nav_bar ul li a:hover {
    color: yellow !important;
}

.btnCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}