.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0B0C0D;
    width: 100%;
    height: 20vh;
    border-radius: 6px;
    margin-bottom: 40px;
}

.header-img {
    width: 2.2vh;
}

.title {
    font-size: 36px;
}

#title1 {
    color: gray;
}

#title2,
a:hover {
    color: yellow;
}

.nav_bar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav_bar ul a {
    color: gray !important;
    font-size: 20px;
    margin-right: 50px;
}

.nav_bar ul a:hover {
    color: yellow !important;
}

.btnCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}