.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0B0C0D;
    width: 100%;
    height: 20vh;
}

.header-img {
    width: 2vh;
    height: 2vh;
}

.title {
    font-size: 36px;
}

#title1 {
    color: gray;
}

#title2,
a:hover {
    color: brown;
}

.nav_bar li {
    display: inline-block;
    color: gray;
    margin: 32px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: gray !important;
}

a:hover {
    color: brown !important;
}

li {
    font-size: 20px;
}